@inherits InputBase<bool>
@using System.Linq.Expressions;

<div class="form-check @CssClass">
    <input class="form-check-input" id="@Id" @bind="@CurrentValue" type="checkbox" />
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-check-label" for="@Id">@Label</label>
    }
</div>

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Label { get; set; }

    protected override bool TryParseValueFromString(string? value, out bool result, out string validationErrorMessage)
    {
        result = bool.Parse(value ?? "false");
        validationErrorMessage = string.Empty;
        return true;
    }
}