@using Microsoft.Extensions.Localization
@using Shared.Models
@using Web.Core.Client.Components.Input

<div class="mx-0 auto form">
    <div class="d-flex justify-content-center p-2">
        <Icon IconStyle="bi bi-person-circle display-1 text-primary" />
    </div>
    <h4 class="text-center">@ResourceService.GetResource("LabelRegister")</h4>
    <EditForm class="form" FormName="registerForm" Model=@RegisterRequest OnValidSubmit="OnRegister">
        <DataAnnotationsValidator />
        <TextField ContainerStyle="mt-2"
                   Id="@nameof(RegisterRequest.FirstName)"
                   Label="@ResourceService.GetResource("LabelFirstName")"
                   @bind-Value="RegisterRequest.FirstName"
                   ValidationFor="() => RegisterRequest.FirstName" />
        <TextField ContainerStyle="mt-2"
                   Id="@nameof(RegisterRequest.Name)"
                   Label="@ResourceService.GetResource("LabelName")"
                   @bind-Value="RegisterRequest.Name"
                   ValidationFor="() => RegisterRequest.Name" />
        <TextField ContainerStyle="mt-2"
                   Id="@nameof(RegisterRequest.Email)"
                   Label="@ResourceService.GetResource("LabelEmail")"
                   @bind-Value="RegisterRequest.Email"
                   ValidationFor="() => RegisterRequest.Email" />
        <TextField ContainerStyle="mt-2"
                   Id="@nameof(RegisterRequest.DateOfBirth)"
                   Label="@ResourceService.GetResource("LabelDateOfBirth")"
                   @bind-Value="RegisterRequest.DateOfBirth"
                   ValidationFor="() => RegisterRequest.DateOfBirth"
                   Type="date" />
        <TextField ContainerStyle="mt-2"
                   Id="@nameof(RegisterRequest.Password)"
                   Label="@ResourceService.GetResource("LabelDateOfBirth")"
                   @bind-Value="RegisterRequest.Password"
                   ValidationFor="() => RegisterRequest.Password"
                   Type="password" />
        <TextField ContainerStyle="mt-2"
                   Id="@nameof(RegisterRequest.PasswordReplication)"
                   Label="@ResourceService.GetResource("LabelPasswordReplication")"
                   @bind-Value="RegisterRequest.PasswordReplication"
                   ValidationFor="() => RegisterRequest.PasswordReplication"
                   Type="password" />
        <div class="row d-flex align-items-baseline mt-3">
            <div class="col col-12 d-flex justify-content-center ps-5 mt-4">
                <FormLink Css="" To="/login" Label="@ResourceService.GetResource("LabelBackToLogin")" />
            </div>
        </div>
        <StyledButton AdditionalStyle="mt-4" Label="@ResourceService.GetResource("LabelCreateAccount")" />
    </EditForm>
</div>

@code {

}
