@using Shared.Enums
<div class="dropdown">
    <button class="d-flex d-inline-flex align-items-center btn dropdown-toggle dropdown-btn @ButtonStyle" @onclick="@(_isExpanded ? Hide : Show)" type="button">
        @if (!string.IsNullOrWhiteSpace(IconStyle))
        {
            <i class="@IconStyle"></i>
        }
        <div class="@LabelStyle ps-2">@Label</div>
    </button>
    <div class="dropdown-menu @MenuStyle @(_isExpanded ? "is-active" : "")">
        @if (Items != null)
        {
            foreach (var item in Items)
            {
                if (item.ItemType == DropdownItemTypeEnum.Link)
                {
                    <a class="item text-decoration-none dropdown-item" href="@item.To">@item.Label</a>
                }
                else
                {
                    <div class="item dropdown-item" @onclick="() => InvokeCallback(item.Callback)">@item.Label</div>
                }
            }
        }
    </div>
</div>