<button class="sectionMenu-container @(Disabled ? "disabled" : "")" disabled="@Disabled" @onclick="@HandleSectionChanged">
    <div class="fs-5 title">@Title</div>
    @if (!string.IsNullOrWhiteSpace(SubTitle))
    {
        <div class="fs-6 subtitle">@SubTitle</div>
    }
</button>

@code {
    [Parameter] public required int SectionId { get; set; }
    [Parameter] public required string Title { get; set; }
    [Parameter] public required bool Disabled { get; set; }
    [Parameter] public string? SubTitle { get; set; }
    [Parameter] public EventCallback<int> OnSectionChanged { get; set; }

    private async Task HandleSectionChanged()
    {
        if (!Disabled)
        {
            await OnSectionChanged.InvokeAsync(SectionId);
        }
    }
}
