@using Web.Core.Shared.Models.Navigation
<div id="@Model.Id" class="m-0 item">
    <div class="d-flex d-inline-flex align-items-baseline text-light text-decoration-none nav-link pt-0 pb-0 w-100"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#@Model.ControlId"
         aria-expanded="false"
         aria-controls="@Model.ControlId">
        <i class="@Model.Icon fs-4"></i>
        @if (IsExpanded)
        {
            <span class="fs-5 ms-2 d-none d-md-inline">@Model.GroupName</span>
        }
    </div>
    <div class="collapse collapse-item" id="@Model.ControlId">
        @if (IsExpanded && Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
                <a class="text-light text-decoration-none nav-link fs-6 pt-2 pb-0 bg-dark" href="@item.To">
                    @item.Label
                </a>
               
            }
        }
    </div>
    @if (HasDivider)
    {
        <hr class="text-white" />
    }
</div>

@code {
    @code {
        [Parameter] public NavItemModel? Model { get; set; }
        [Parameter] public bool IsExpanded { get; set; }
        [Parameter] public bool HasDivider { get; set; }
    }
}