@page "/api-performance-dashboard"

<div class="container-fluid">
    <div class="header-title-container">
        <div class="title-container">
            <i class="bi bi-display"></i>
            <h1>Api Analytics</h1>
        </div>
        <hr />
        <p>Api Performance Monitoring.</p>

    </div>
    <div class="container-fluid settings-container p-2">
        @if (ViewModel.ApiPerformanceStatistics.Any())
        {
            <div class="settings-row">
                <div class="performance-item card border-0 p-1">
                    <div class="performance-item-inner">
                        <div class="icon-container">
                            <i class="bi bi-activity fs-4"></i>
                            <span class="fs-4">@ViewModel.ApiPerformanceStatistics[ViewModel.ApiStatisticId]?.RequestCount</span>
                        </div>
                        <p>Requests</p>
                    </div>
                </div>
                <div class="performance-item card border-0 p-1">
                    <div class="performance-item-inner">
                        <div class="icon-container">
                            <i class="bi bi-speedometer2 fs-4"></i>
                            <span class="fs-4">@ViewModel.ApiPerformanceStatistics[ViewModel.ApiStatisticId]?.AverageRequestDuration</span>
                        </div>
                        <p>Average Speed (ms)</p>
                    </div>
                </div>
                <div class="performance-item card border-0 p-1">
                    <div class="performance-item-inner">
                        <div class="icon-container">
                            <i class="bi bi-send fs-4"></i>
                            <span class="fs-4">@ViewModel.ApiPerformanceStatistics[ViewModel.ApiStatisticId]?.AverageResponseSize</span>
                        </div>
                        <p>Average response length (byte)</p>
                    </div>
                </div>
                <div class="performance-item performance-dropdown-item card border-0 p-1">
                    <Select Id="controller-dropdown"
                            ButtonCss="fs-6"
                            OnChangeValue="ViewModel.HandleSelectedItemChanged"
                            SelectedItem="@ViewModel.ApiStatisticId"
                            Options="@ViewModel.ControllerDropdownItems" />
                </div>
            </div>
        }
        <hr class="w-100 bg-black p-0 m-0" />

    </div>



</div>


@* <div class="container-fluid">
    <div class="card" style="width:20rem;height:20rem">
        <div class="card-body">
            <PerformanceDashboardCard OuterStyle="bg-primary"
                                      InnerStyle="bg-light"
                                      Label=@($"{ViewModel.PerformanceData.RequestCount} requests") />
            <label>Test</label>
        </div>
    </div>
    <div class="card" style="width:20rem;height:20rem">
        <div class="card-body">
            <PerformanceDashboardCard OuterStyle="bg-danger"
                                      InnerStyle="bg-light"
                                      Label=@($"{ViewModel.PerformanceData.AverageRequestDuration} ms") />
            <label>Test</label>
        </div>
    </div>
</div> *@
<div class="row">
    @if (ViewModel.IsLoading)
    {
        <LoadingOverlay />
    }
</div>
